<p class="incdnt">View an incident</p>
<div class="headline">
<h5>Incident Number     :    {{incident.no}}</h5>
 
    
 

<p>Incident State        :  {{incident.state}}</p>
 
   
<p>Category             : {{incident.ctgry}}</p>
 
 

<p>Impact               : {{incident.impct}} </p>
 
 
 <p>Short Description   : {{incident.desc}}</p>
         
         
 <button class="upd" (click)="updIncdnt()">Update Incident</button> 

 <button class="dlt" (click)="dltIncdnt()">Delete Incident</button><br> 

</div>  