<p class="incdnt">Incident No - {{incident.no}}</p>
<div class="headline">
<p>Contact type</p>
<select placeholder="None" (change)="changeCntct($event.target.value)">
    <option *ngFor ="let typ  of cntcttyp">{{typ}} </option>
</select>

<p>State</p>
<select placeholder="None" (change)="changestate($event.target.value)">
    <option *ngFor ="let st  of incdntst">{{st}} </option>
</select>


<p>Category</p>
<select placeholder="None" (change)="changeCtg($event.target.value)">
    <option *ngFor ="let ctg  of ctgry">{{ctg}} </option>
</select>

<p>Impact</p>
<select placeholder="None" (change)="changeImpct($event.target.value)">
    <option *ngFor ="let imp  of impct">{{imp}} </option>
</select>

  
    <p>Short Description</p>
        <input type="text" class="desc" [(ngModel)]="desc"/> 
        
    <button (click)="updtIncdnt()">Submit</button><br>
</div>  